<div class="container">
    <div class="row">
        <h1>Nossos colaboradores</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Salario</th>
                    <th>Bonus</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let employee of employeeService.employees; let i=index " [id]="'tr' +i">
                    <!-- <td>{{employee.name}}</td>
                    <td>{{employee.salary}}</td> -->
                    <!-- propriedade innerHtml no DOM-->
                    <td [innerHtml]="employee.name"></td>
                    <!-- trabalhando com style reativo-->
                    <!-- <td [innerHtml]="employee.salary" [style.color]="getSalaryColor(employee)"></td> -->
                    <td [innerHtml]="employee.salary" 
                        [ngClass]="{'salary-expensive': employee.salary > 20000, 'salary-cheap': employee.salary < 1000 }"></td>
                    <td [innerHtml]="employee.bonus"></td>    
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
